@section Css{
    <link rel="stylesheet" href="~/src/css/secondary.css" />
}

<main>
    <section class="videos-detail videos-detail-back">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="video-detail-title">
                    <p class="video-detail-name">C#-Console (Orxan Məmmədov)</p>
                    <p class="video-detail-description">
                        Watch the videos in our video library
                    </p>
                </div>
            </div>
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="card">
                        <div class="video-detail-img">
                            <iframe style="border-radius: 10px"
                                    src="https://www.youtube.com/embed/3-dQbYln6gM"
                                    title="YouTube video player"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="card">
                        <div class="video-detail-img">
                            <iframe style="border-radius: 10px"
                                    src="https://www.youtube.com/embed/igWITvkf0HM"
                                    title="YouTube video player"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="card">
                        <div class="video-detail-img">
                            <iframe style="border-radius: 10px"
                                    src="https://www.youtube.com/embed/SgywHCexnEo"
                                    title="YouTube video player"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="card">
                        <div class="video-detail-img">
                            <iframe style="border-radius: 10px"
                                    src="https://www.youtube.com/embed/igWITvkf0HM"
                                    title="YouTube video player"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="card">
                        <div class="video-detail-img">
                            <iframe style="border-radius: 10px"
                                    src="https://www.youtube.com/embed/SgywHCexnEo"
                                    title="YouTube video player"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="card">
                        <div class="video-detail-img">
                            <iframe style="border-radius: 10px"
                                    src="https://www.youtube.com/embed/SgywHCexnEo"
                                    title="YouTube video player"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="card">
                        <div class="video-detail-img">
                            <iframe style="border-radius: 10px"
                                    src="https://www.youtube.com/embed/igWITvkf0HM"
                                    title="YouTube video player"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="card">
                        <div class="video-detail-img">
                            <iframe style="border-radius: 10px"
                                    src="https://www.youtube.com/embed/SgywHCexnEo"
                                    title="YouTube video player"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>