@section Css{
    <link rel="stylesheet" href="~/src/css/secondary.css" />
}
<!-- *********************     Main  Start     ************************ -->
<main>
    <!-- **************************   Teachers Start   ************************ -->
    <section class="section teachers">
        <div class="container">
            <div class="row flex-column align-items-center justify-content-center">
                <div class="col-lg-8">
                    <h2 class="text-center">MÜƏLLİM VƏ İDARƏ HEYƏTİMİZ</h2>
                    <p class="text-center mt-4">
                        BİZ SİZİN MƏQSƏDLƏRİNİZƏ ULAŞMAĞINIZA KÖMƏK OLMAQ ÜÇÜN ÇALIŞIRIQ
                        !
                    </p>
                </div>
            </div>
            <div class="row mt-5 justify-content-center">
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="card">
                        <div class="imgBx">
                            <img src="https://images.unsplash.com/photo-1532123675048-773bd75df1b4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                                 alt="images" />
                        </div>
                        <div class="details">
                            <h2>SomeOne Famous<br /><span>Director</span></h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="card">
                        <div class="imgBx">
                            <img src="https://images.unsplash.com/photo-1532123675048-773bd75df1b4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                                 alt="images" />
                        </div>
                        <div class="details">
                            <h2>SomeOne Famous<br /><span>Director</span></h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="card">
                        <div class="imgBx">
                            <img src="https://images.unsplash.com/photo-1532123675048-773bd75df1b4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                                 alt="images" />
                        </div>
                        <div class="details">
                            <h2>SomeOne Famous<br /><span>Director</span></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- **************************   Teachers End   ************************ -->
</main>
<!-- *********************      Main  End     ************************ -->