@section Css{
    <link rel="stylesheet" href="~/src/css/secondary.css" />
}
<!-- *********************     Main  Start     ************************ -->
<main>
    <section class="reg">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-7">
                    <div class="registration">
                        <div class="registration-about">
                            <div class="registration-title">
                                <p>BİZ SİZƏ ZƏNG EDƏK</p>
                            </div>
                            <div class="form-selected">
                                <p class="select-title">Field of study</p>
                                <select class="form-select"
                                        aria-label="Default select example">
                                    <option selected></option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                            <div class="form-name main-form">
                                <label for="name">Your Full Name</label>
                                <input type="text" />
                            </div>
                            <div class="form-email main-form">
                                <label for="mail">Your Full Name</label>
                                <input type="text" />
                            </div>
                            <div class="form-phone main-form">
                                <label for="number">Phone</label>
                                <input type="number" />
                            </div>
                            <div class="form-message main-form">
                                <label for="message">Message</label>
                                <input type="text" />
                            </div>
                            <div class="form-button">
                                <button class="itBtn">Send Request</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- *********************       Main  End     ************************ -->