@section Css{
    <link rel="stylesheet" href="~/src/css/secondary.css" />
}
<!-- *********************     Main  Start     ************************ -->
<main>
    <section id="service-detail" class="service-detail">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-7 col-md-10 ser-images">
                    <div class="row">
                        <div class="col-6">
                            <div class="ser-image">
                                <img src="~/src/Sayt/20210206_164724.jpg" alt="" />
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="ser-image">
                                <img src="~/src/Sayt/20210517_190426.jpg" alt="" />
                            </div>
                        </div>
                        <div class="col-6 mt-3">
                            <div class="ser-image">
                                <img src="~/src/Sayt/20210830_155810.jpg" alt="" />
                            </div>
                        </div>
                        <div class="col-6 mt-3">
                            <div class="ser-image">
                                <img src="~/src/Sayt/20210901_173349.jpg" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-10 ser-details">
                    <div class="ser-detail">
                        <h1 class="ser-head">Front-End</h1>
                        <div class="ser-description">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Perferendis et totam non earum fuga soluta delectus fugit,
                            repellat, est possimus corrupti laboriosam architecto vitae
                            tenetur magnam accusamus officiis, odio dolore.
                        </div>
                        <div class="service-details">
                            <div class="detail d-flex align-items-center">
                                <i class="fas fa-code det-icon"></i>
                                <div class="det-text">HTML, CSS, JAVASCRIPT, BOOTSTRAP, REACT JS</div>
                            </div>
                            <div class="detail d-flex">
                                <i class="fas fa-calendar-alt det-icon"></i>
                                <div class="det-text">4 Ay</div>
                            </div>
                            <div class="detail d-flex">
                                <i class="fas fa-clock det-icon"></i>
                                <div class="det-text">Həftədə 3 dəfə, 1.5-2 saat</div>
                            </div>
                            <div class="detail d-flex">
                                <i class="fas fa-file-alt det-icon my-pt-5 my-pl-3"></i>
                                <div class="det-text">Kurs sonunda final lahiyə hazırlayaraq sertifikat əldə edirsiniz</div>
                            </div>
                            <div class="detail d-flex">
                                <i class="fas fa-book-open det-icon my-pt-5"></i>
                                <div class="det-text">Dərslər real proyektlər üzərində tədris edilir</div>
                            </div>
                        </div>
                        <a href="" class="itBtn">Qeydiyyatdan keç</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- *********************      Main  End     ************************ -->