@section Css{
    <link rel="stylesheet" href="~/src/css/secondary.css" />
}
<!-- *********************     Main  Start     ************************ -->
<main>
    <!-- ********************************************************************** -->
    <!-- **************************   İnfo start     ************************ -->
    <section class="blog-detail">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="detail-img">
                        <div class="blog-image">
                            <img src="~/src/images/edukhana.png" alt="" />
                        </div>
                    </div>
                    <div class="detail">
                        <h2 class="head">Blog Name</h2>
                        <div class="content">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            exercitationem, maxime nulla corrupti quos inventore eaque
                            asperiores at nobis magnam deleniti mollitia nihil itaque,
                            vero autem dignissimos? Magnam quia quaerat voluptatum enim
                            recusandae deleniti.
                            Lorem
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti iusto aut itaque. Error earum totam facere! Repellat, sunt illum commodi quia vero excepturi iure, officia ratione repudiandae magnam quae vel!
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa voluptate aliquam perspiciatis, nulla esse cumque eius nobis numquam dolorem nihil necessitatibus delectus et labore illo nemo incidunt, illum asperiores earum.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- *********************  İnfo end    ************************ -->
    <!-- ******************************************************************** -->
    <!-- *********************     Footer  Start     ************************ -->
</main>