@section Css{
    <link rel="stylesheet" href="~/src/css/secondary.css" />
}
<!-- *********************     Main  Start     ************************ -->
<main>
    <!-- ********************************************************************** -->
    <!-- **************************   News start     ************************ -->
    <section class="news">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="news-title">
                    <p> Xəbərlər</p>
                </div>
            </div>
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card" style="width: 100%">
                        <div class="news-img">
                            <img src="~/src/images/educators.png"
                                 class="card-img-top"
                                 alt="news1" />
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">
                                FRONT-END Dərslərimizə qeydiyyat başladı
                            </h5>
                            <p class="card-text">
                                Some quick example text to build on the card title and make
                                up the bulk of the card's content.
                            </p>
                            <a asp-controller="News" asp-action="Detail" class="news-button">
                                ƏTRAFLI <span> <i class="fas fa-angle-right"></i></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card" style="width: 100%">
                        <div class="news-img">
                            <img src="~/src/images/edukhana.png"
                                 class="card-img-top"
                                 alt="news2" />
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">
                                Help desk dərslərimizə qeydiyyat başladı
                            </h5>
                            <p class="card-text">
                                Some quick example text to build on the card title and make
                                up the bulk of the card's content.
                            </p>
                            <a asp-controller="News" asp-action="Detail" class="news-button">
                                ƏTRAFLI <span> <i class="fas fa-angle-right"></i></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card" style="width: 100%">
                        <div class="news-img">
                            <img src="~/src/images/HTMLCSS.png"
                                 class="card-img-top"
                                 alt="news3" />
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">
                                Back-End proqramlaşdırmadan yeni video youtube kanalımıza
                                yükləndi
                            </h5>
                            <p class="card-text">
                                Some quick example text to build on the card title and make
                                up the bulk of the card's content.
                            </p>
                            <a asp-controller="News" asp-action="Detail" class="news-button">
                                ƏTRAFLI <span> <i class="fas fa-angle-right"></i></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- *********************  News end    ************************ -->
    <!-- ******************************************************************** -->
    <!-- *********************     Footer  Start     ************************ -->
</main>