@section Css{
    <link rel="stylesheet" href="~/src/css/secondary.css" />
}
<!-- *********************     Main  Start     ************************ -->
<main>
    <!-- *********************       Gallery  Start     ************************ -->
    <section class="gallery">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="gallery-title">
                    <p>Qalareya</p>
                    <p class="gallery-description font-weight-bold">It Brains AİLƏSİ</p>
                </div>
            </div>
            <div class="row align-items-center justify-content-center">
                <div class="gallery-name">
                    <a href="#" id="teacher">MÜƏLLİMLƏR</a>
                    <a href="#" id="student">TƏLƏBƏLƏR</a>
                </div>
            </div>
            <div class="row align-items-center justify-content-center" id="teacherImages">
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="gallery-image">
                        <img src="~/src/img/teachers/Orxan_pic.JPG" alt="" />
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="gallery-image">
                        <img src="~/src/img/teachers/BABAK_PİC.JPG" alt="" />
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="gallery-image">
                        <img src="~/src/img/teachers/BABAK_PİC.JPG" alt="" />
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="gallery-image">
                        <img src="~/src/img/teachers/EMİN_PİC.JPG" alt="" />
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="gallery-image">
                        <img src="~/src/img/teachers/Orxan_pic.JPG" alt="" />
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="gallery-image">
                        <img src="~/src/img/teachers/BABAK_PİC.JPG" alt="" />
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="gallery-image">
                        <img src="~/src/img/teachers/BABAK_PİC.JPG" alt="" />
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="gallery-image">
                        <img src="~/src/img/teachers/EMİN_PİC.JPG" alt="" />
                    </div>
                </div>

            </div>
            <div class="row align-items-center justify-content-center" id="studentImages">
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="gallery-image">
                        <img src="~/src/img/teachers/BABAK_PİC.JPG" alt="" />
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="gallery-image">
                        <img src="~/src/img/teachers/EMİN_PİC.JPG" alt="" />
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="gallery-image">
                        <img src="~/src/img/teachers/Orxan_pic.JPG" alt="" />
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="gallery-image">
                        <img src="~/src/img/teachers/BABAK_PİC.JPG" alt="" />
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="gallery-image">
                        <img src="~/src/img/teachers/BABAK_PİC.JPG" alt="" />
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="gallery-image">
                        <img src="~/src/img/teachers/EMİN_PİC.JPG" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- *********************     Gallery  end     ************************ -->
    <!-- ******************************************************************** -->
</main>
<!-- *********************      Main  End     ************************ -->